div.message-bar-container {
  display: flex;
  padding: 1rem 1.5rem 1rem 1rem;
  border-left: 2px solid;
  gap: 1rem;

  &.message-bar-information {
    background-color: var(--blue-light);
    border-color: var(--blue-dark);
    color: var(--blue-dark);
  }

  &.message-bar-success {
    background-color: var(--green-light);
    border-color: var(--green-dark);
    color: var(--green-dark);
  }

  &.message-bar-warning {
    background-color: var(--yellow-light);
    border-color: var(--yellow-dark);
    color: var(--yellow-dark);
  }

  &.message-bar-error {
    background-color: var(--red-light);
    border-color: var(--red-dark);
    color: var(--red-dark);
  }

  div.message-bar-status-icon {
  }

  div.message-bar-body {
    background-color: aquamarine;
    flex: 1;

    div.message-bar-content {
      background-color: azure;
    }

    div.message-bar-action-buttons {
      background-color: beige;
    }
  }

  div.message-bar-close-button {
    background-color: cadetblue;
  }
}