@let areActionButtonsVisible = type() === 'information' || type() === 'error';

<div class="message-bar-container"
    [class]="typeClass()">
    <div class="message-bar-status-icon">
        <app-status-icon [type]="type()"></app-status-icon>
    </div>
    <div class="message-bar-body">
        <div class="message-bar-body-row">
            <div class="message-bar-content">
                <ng-content select="[message-bar-content]"></ng-content>
            </div>
            @if (areActionButtonsVisible) {
                <div class="message-bar-action-buttons">
                    <ng-content select="button[message-bar-button='right']"></ng-content>
                </div>
            }
        </div>
        @if (areActionButtonsVisible) {
            <div class="message-bar-action-buttons">
                <ng-content select="button[message-bar-button='bottom']"></ng-content>
            </div>
        }
    </div>
    @if (dismissible()) {
        <div class="message-bar-close-button">
            <app-close-button [type]="type()" (closeMessageBar)="onClose()"></app-close-button>
        </div>
    }
</div>