<div class="message-bar-container"
    [class]="typeClass()">
    <div class="message-bar-status-icon">
        <app-status-icon [type]="type()"></app-status-icon>
    </div>
    <div class="message-bar-body">
        <div class="message-bar-content">
            <ng-content></ng-content>
        </div>
        <div class="message-bar-action-buttons">Action Buttons</div>
    </div>
    @if (dismissible()) {
        <div class="message-bar-close-button">
            <app-close-button (close)="onClose()"></app-close-button>
        </div>
    }
</div>