@use "../../../theme/type-theme";
@use "sass:map";

@mixin message-bar-variant($theme) {
  background-color: map.get($theme, light);
  border-color: map.get($theme, dark);
  color: map.get($theme, dark);

  .message-bar-content {
    color: map.get($theme, very-dark);
  }
}

div.message-bar-container {
  display: flex;
  padding: 1rem 1.5rem 1rem 1rem;
  border-left: 2px solid;
  gap: 1rem;

  @include message-bar-variant(type-theme.$information-theme);

  &.message-bar-information {
    @include message-bar-variant(type-theme.$information-theme);
  }

  &.message-bar-success {
    @include message-bar-variant(type-theme.$success-theme);
  }

  &.message-bar-warning {
    @include message-bar-variant(type-theme.$warning-theme);
  }

  &.message-bar-error {
    @include message-bar-variant(type-theme.$error-theme);
  }

  div.message-bar-body {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;

    div.message-bar-body-row {
      display: flex;
      gap: 2rem;

      div.message-bar-action-buttons {
        justify-content: flex-end;
      }
    }

    div.message-bar-content {
      flex: 1;
      min-width: 50%;
    }

    div.message-bar-action-buttons {
      display: flex;
      flex-wrap: wrap;
      height: fit-content;
      gap: 0.25rem;

      &:empty {
        display: none;
      }
    }
  }
}