:root {
  --red-dark: #DB2525;
  --red-light: #FEE2E2;
  --blue-dark: #0471F0;
  --blue-light: #F0F7FE;
  --green-dark: #41BD56;
  --green-light: #F2FEEF;
  --yellow-dark: #FFB31D;
  --yellow-light: #FFF7E6;
}

